<section class="banner" style="padding: 0px;">
  <nav class="nav">
    <div class="popup">
      <img src="https://res.cloudinary.com/therainycloud/image/upload/v1578657512/Untitled_design_24_1_grcw9w.png"></a>
      <div class="bubble">
        <span>Taco!</span>
      </div>
    </div>
    <%#= link_to "I'LL HELP YOU", :anchor => "help"%>
    <%= link_to "STORY",:anchor => "story"%>
    <%= link_to "WORK",:anchor => "work"%>
    <%= link_to "SAY HELLO",:anchor => "contact"%>
  </nav>
  <div class="banner-t">
    <h1>EL</h1>
    <h1 class="glitch is-glitching" data-text="TACO">TACO </h1>
    <h1>LAB</h1>
    <h3>WEB & CREATIVE DESIGN</h3>
  </div>
  <div class="scroll">
    <%= link_to :anchor => "story" do %>
    <i class="fas fa-angle-down"></i>
    <p>scroll</p>
    <% end %>
  </div>
</section>
