<!-- banner -->
<div class="banner"style ="position:relative;">
  <div class="desktop">
    <p style ="position: absolute; bottom: 5px; right: 50px;"><strong>contact:</strong> miranda@eltacolab.com</p>
  </div>
  <div class="mobile">
  </div>
</div>
<!-- end banner -->
<!-- main -->
<!-- <div class="container">
  <section class="story">
    <div class="layout-grid">
      <div class="cell">
      <h2>The story</h2>
      <p>lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deserunt, nisi excepturi, error libero porro delectus illum ex omnis recusandae possimus voluptatibus quisquam consequuntur quasi cupiditate ut eos dolorum hic.</p>
      </div>
      <div class="cell">
        <img src="" alt="photo-Daniel-Rodriguez">
        <img src="" alt="photo Miranda Darcy">
      </div>
    </div>
  </section>
  <section class="work">
    <div class="layout-grid">
      <div class="cell">
        <img src="" alt="Airloan app">
      </div>
      <div class="cell">
        <h3>Airloan</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat fuga dicta facilis inventore itaque tenetur, quidem neque vero reiciendis? Voluptates est corrupti commodi deserunt iusto deleniti nesciunt magni nulla! Commodi.</p>
      </div>
      <div class="cell">
        <h3>Shuffle</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos doloremque alias ipsa, fugiat saepe amet illo nobis veritatis aut totam dolores, iste harum voluptatibus possimus eum porro, animi nemo similique!</p>
      </div>
      <div class="cell">
        <img src="" alt="Airloan app">
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="layout-grid">
      <div class="cell">
        <p>form</p>
      </div>
      <div class="cell">
        <img src="" alt="map image">
      </div>
    </div>
  </section>
</div> -->

<!-- end main -->

