<!-- banner -->
<!-- end banner -->
<!-- main -->
  <section id="story">
    <div class="container">
      <div class="layout-grid">
        <div class="cell">
        <h2>The story</h2>
        <p>What happens when you sit a group of talented people around a plate full of tacos while speaking about web design? It is the perfect ingredients for creating El Taco Lab!
        <br><br>
        Yes, A web and creative laboratory for Taco lovers, not only are tacos delicious, but they are also extremely creative, they are essentially a basic ingredient:
        a tortilla + anything you want to fill it up with! You can make them with just one ingredient, two, three or ten! We found a
        certain resemblance with the world of web development - you can create your own customised platform: showcase site,
        creative design, digital marketing, webapp, etc...</p>
        </div>
        <div class="cell">
          <img src="https://res.cloudinary.com/therainycloud/image/upload/v1579520291/Untitled_design_28_p5kvuc.png" alt="photo-Daniel-Rodriguez">

        </div>
      </div>
    </div>
  </section>
  <section id="work">
    <div class="container">
    <h2>Our Work</h2>

      <div class="layout-grid">
        <div class="cell">
          <img src="https://res.cloudinary.com/therainycloud/image/upload/v1579522257/Screenshot_2019-12-24_at_12.22.32_hcvnub.png" alt="Airloan app">
        </div>
        <div class="cell">
        <br>
          <h3>Airloan</h3>
          <p>AirLoan is a peer to peer money lending platform for connected users who wish to borrow small amounts of money for a short period. It is hassle-less and has unbeatable interest costs. The website includes a reservation dashboard as well as a map search.</p>
        </div>
        <div class="cell">
          <h3>Shuffle</h3>
          <p>Shuffle is a mobile first web app for young and versatile job-hunters who wish to connect with minutes al without the need of a CV. This app was built with tinder-like UX and a complex matching algorithm.</p>
        </div>
        <div class="cell" style="display: flex;justify-content: space-evenly;">
          <img src="https://res.cloudinary.com/therainycloud/image/upload/v1579521300/Screenshot_2020-01-20_at_12.54.41_nsxv8n.png" alt="shuffle app">
          <img src="https://res.cloudinary.com/therainycloud/image/upload/v1579521148/Screenshot_2019-12-11_at_16.21.47_yeupse.png" alt="shuffle app">

        </div>
      </div>
    </div>
  </section>

<!-- end main -->

