.layout-grid {
  display: grid;
  grid-gap: 30px;

}

.cell {

  position: relative;
  align-self: baseline;
}

@media (min-width: 100px) and (max-width: 575px) {
 .layout-grid {
      grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .layout-grid {
      grid-template-columns: 1fr 1fr;
  }
}
